@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #016A70;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2rem 7rem;
    padding: 20px 40px;
    border-radius: 20px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 52px;
}

.navLinks li a {
    color: #393E46;
    font-size: 20px;
    transition: 0.3s;
}

.navLinks li a:hover {
    color: #016A70;
}

.navButton {
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    background: #016A70;
    color: #fff;
}

main {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 3.3rem 10.25rem;
}

.mainImg {
    width: 25rem;
    height: 21rem;
}

.mainHello {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
}

main h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 38px;
} 

.mainDescription {
    color:#FFF;
    font-size: 1rem;
    font-weight: 400;
}

.mainButton {
    margin-top: 1.8rem;
    padding: 8px 20px;
    border-radius: 10px;
    border: 2px solid #FFF;
    color: #FFF;
    font-weight: 600;
    background-color: transparent;
}